{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Dots">
        <title>Chave Pública</title>
    </head>
    <body>
        <div class="pag">
            <form id="descrypt-form" method="POST" action="{% url 'mdproject:descrypt' %}">
                <div class="divsave">
                    {% csrf_token %}
                    <div class="chavep">
                        <h2 class="title"> Vamos desencriptar sua mensagem! </h2>
                    </div>
                    <div class="numerop">
                        <h2 class="np"> Numero P </h2>
                        <input type="text" id="np" name="np">
                    </div>
                    <div class="numeroq">
                        <h2 class="nq"> Numero Q </h2>
                        <input type="text" id="nq" name="nq">
                    </div>
                    <div class="e">
                        <h2 class="numeroe"> Numero E </h2>
                        <input type="text" id="e" name="e">
                    </div>
                    {% if status %}
                        <label>{{ status }}</label>
                    {% endif %}
                    <button class="botaodecrypt" type="submit"> Desencriptar </button>
                </div>
            </form>
            {% if decrypted_text %}
                <div class="show">
                    <label>Mensagem descriptografada:</label>
                    <label>{{ decrypted_text }}</label>
                </div>
            {% endif %}
            <a href="index.html">
                <button class="botaovoltar"> Menu Inicial </button>
            </a>
        </div>
    </body>
</html>
