<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Dots">
    <title>Página Inicial</title>
</head>
<body>
    <div class="div1">
        <div class="div2">
            <h1>R S A</h1>
            <h2>Projeto de Matemática Discreta: Criptografia</h2>
            <a href="save.html">
                <button class="salvar"> Salvar Chave Publica </button>
            </a>
            <a href="crypt.html">
                <button class="criptografar"> Criptografar </button>
            </a>
            <a href="decrypt.html">
                <button class="descriptografar"> Descriptografar </button>
            </a>
        </div>
    </div>
</body>

<script>
    function generateRandom(inputId) {
        fetch('/mdproject/generate_random/')
        .then(response => response.json())
        .then(data => {
            document.getElementById(inputId).value = data.random_number;
        })
        .catch(error => console.error('Erro:', error));
    }

    function criptoNow(){

    }
    document.getElementById('encrypt-form').addEventListener('submit', function (e) {
        e.preventDefault();  // Evita o envio padrão do formulário

        const inputText = document.getElementById('input_text_encrypt').value;
        const formData = new FormData();
        formData.append('input_text', inputText);
        console.log(formData)
        fetch('/mdproject/save/', {
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin',
            body: formData,
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById('decrypted_text').innerText = 'Texto criptografado: ' + data;
        })
        .catch(error => console.error('Erro:', error));
    });
</script>
</html>
