{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Dots">
    <title>Chave Pública</title>
</head>
<body>
    <div>
        <form method="POST" action="{% url 'mdproject:save' %}">
            <div class="divsave">
                {% csrf_token %}
                <div class="chavep">
                    <h2 class="title"> Vamos salvar sua chave pública! </h2>
                </div>
                <div class="primo1">
                    <h2 class="p1"> Primo 1 </h2>
                    <input type="text" id="primo1" name="primo1">
                </div>
                <div class="primo2">
                    <h2 class="p2"> Primo 2 </h2>
                    <input type="text" id="primo2" name="primo2">
                </div>
                <div class="e">
                    <h2 class="numeroe"> Numero E </h2>
                    <input type="text" id="e" name="e">
                </div>
                <button class="botaosalvar"> Salvar Chave </button>
            </div>
        </form>

        {% if status %}
            <label>{{ status }}</label>
        {% endif %}
        <a href="index.html">
            <button class="botaovoltar"> Menu Inicial </button>
        </a>
    </div>
</body>
</html>
